body {
  overflow: hidden;
}

.intro-content a i {
  color: rgba(255, 255, 255, 0.7);
}

.intro-content a:hover i {
  color: #fff;
}

footer.footer {
  background:
    /* top, transparent red */
    linear-gradient(
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.45)
    ),
    /* your image */
    url(../../img/bg-footer.jpg) no-repeat center center scroll !important;
    background-size: cover;
}

footer, footer a {
  color: rgba(0, 0, 0, 0.8) !important;
}

footer a:hover, footer a:hover i {
  color: #ef4035 !important;
}

footer.footer p {
  background: rgba(255, 255, 255, 0.8);;
}

section#pricing {
  padding-bottom: 60px;
}

.about-carousel .item .caption {
  color: #fff;
  text-shadow: 5px 5px 5px #000;
}

.nav-logo {
  max-width: 80%;
  padding: 5px;
}
